# Ambientes virtuais
.venv/
venv/
env/

# Cache e bytecode Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Variáveis de ambiente / segredos
.env

# Sistema operacional
.DS_Store
Thumbs.db

# Modelos grandes (ajustar se necessário)
# models/*.joblib

# IDE
.vscode/